//////////////////////FACTS SECTION
  
$back-color: #f4f4f4;
$dark-grey: #333333;
$highlight: #ffa701;

.fact-display{
    position:relative;
    display: flex;
    justify-content: center;
    top:70px;
    width: 270px;
    height: 350px;
    background-color:rgba(0, 0, 0, 0.7);
    border-width: 2px;
    border-style: solid;
    border-color:transparent;
    &:hover{
      border-style: solid;
      //border-width: 2px;
      border-color:$highlight;
      top:60px;
  }
  .fact-display__info{
    text-align: center;
    width: 235px;
    margin-top:40px;
    }

    i{
      color:$highlight;
      font-size:100px;
      margin-bottom:10px;
      
    }
    h4{
      font-family: 'Fjalla One';
      color:white;
      letter-spacing:1px;
      font-size:17px;
    }
    p{
      font-family: 'Open Sans';
      font-size: 15px;
      color:white;
      //font-weight: 300;
    }
  }