<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<nav class="primary-navigation navbar navbar-expand-lg">

  <button class="navbar-toggler navbar-light show-menu-btn" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="primary-navigation--fixed collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav menu-options">
      <!-- <a class="primary-navigation__option" href="#home">HOME</a> -->
      <a class="primary-navigation__option nav-item nav-link active" routerLink="/hero">HOME <span class="sr-only">(current)</span></a>
      <a class="primary-navigation__option nav-item nav-link" href="#classes">CLASSES</a>
      <a class="primary-navigation__option nav-item nav-link" href="#schedule">SCHEDULE</a>
      <a class="primary-navigation__option nav-item nav-link" href="#feedback">FEEDBACK</a>
    </div>
  </div>
</nav>

<!-- EJEMPLO JP -->
<!-- <div *ngFor="let x of testimonions">
    <section *ngModel="sectionbla">{{x}}</section>
  </div> -->